.project1{
    color: white;
    margin-left: 10vw;
    margin-top: -10px;
    width: 80vw;

    h2{
        color: #8B53FF;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: -10px;
        margin-left: 0px;
    }

    h3{
        font-size: 22px;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    li{
        font-size: 15px;
    }

    
.compucar{
    padding-top: -20px;
    font-size: 20px;
    color: white;
    font-weight: 600;
}
}


.project2{
    color: white;
    margin-left: 10vw;
    margin-top: 20px;
    width: 80vw;

    h2{
        color: #8B53FF;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: -10px;
        margin-left: 0px;
    }

    h3{
        font-size: 22px;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    li{
        font-size: 15px;
    }

    
.spotify-guess{
    padding-top: -20px;
    font-size: 20px;
    color: white;
    font-weight: 600;
}
}


.project3{
    color: white;
    margin-left: 10vw;
    margin-top: 20px;
    width: 80vw;

    h2{
        color: #8B53FF;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: -10px;
        margin-left: 0px;
    }

    h3{
        font-size: 22px;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    li{
        font-size: 15px;
    }

    
.pegrent{
    padding-top: -20px;
    font-size: 20px;
    color: white;
    font-weight: 600;
}
}


.text-z{
    width: 80vw;
    margin-left: 10vw;
    margin-top: 50px;
}
